{% extends "base.html" %}

{% block content %}

<div class="smart-green">
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <h1>Welcome to blog page!</h1>
    <br />
    <h6>You can edit and post your blog here</h6>
    <hr />
    <div class="form-group">
        <label for="id_title" class="col-md-2 control-label">Title</label>
        {{ form.title }}
    </div>
    <div class="form-group">
        <label for="id_content" class="col-md-2 control-label">Content</label>
        {{ form.content }}
    </div>
    <br />
    <div class="smart-green">
        <input type="submit" value="submit" class="button" onclick="return confirm('Are you sure to post the blog?')" />
    </div>
</form>
</div>

{% endblock %}