{% extends "base.html" %}

{% block content %}

<h1>Welcome to FC15 Website !</h1>
<p>This is the home page</p>
<hr />

<h3>Blogs</h3>
<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Time</th>
        </tr>
    </thead>
    <tbody>
        {% for post in posts %}
            <tr>
                <th><a href="{% url 'blogdetail' pk=post.pk %}">{{ post.title }}</a></th>
                <th>{{ post.username }}</th>
                <th>{{ post.timestamp }}</th>
            </tr>
        {% endfor %}
    </tbody>
    <!--
{% for post in posts %}
    <tr>
        <th><a href="{% url 'blogdetail' pk=post.pk %}">{{ post.title }}</a></th>
        <th>{{ post.username }}</th>
        <th>Posted at {{ post.timestamp }}</th>
    </tr>
{% endfor %}
        -->
</table>
<hr />

<h3>Competition rank</h3>
<table class="table">
    <thead>
        <tr>
            <th>Rank</th>
            <th>Author</th>
            <th>AI name</th>
            <th>AI Description</th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>

{% endblock %}