{% extends "base.html" %}

{% block content %}

<div class="smart-green">
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <h1>Enter your information to create a new account.</h1>
    <br />
    <div class="form-group">
        <label for="id_username" class="col-md-2 control-label">Username</label>
        {{ form.username }}
    </div>
    <div class="form-group">
        <label for="id_realname" class="col-md-2 control-label">Realname</label>
        {{ form.realname }}
    </div>
    <div class="form-group">
        <label for="id_email" class="col-md-2 control-label">Email</label>
        {{ form.email }}
    </div>
    <div class="form-group">
        <label for="id_email" class="col-md-2 control-label">Student ID</label>
        {{ form.stu_number }}
    </div>
    <div class="form-group">
        <label for="id_password" class="col-md-2 control-label">Password</label>
        {{ form.password }}
    </div>
    <div class="form-group">
        <label for="id_passwordconfirm" class="col-md-2 control-label">Confirm password</label>
        {{ form.password_confirm }}
    </div>
    <div class="smart-green">
        <input type="submit" value="Register" class="button" />
    </div>
</form>
</div>

{% endblock %}