{% extends "base.html" %}

{% block content %}

<!-- Here should be the introduction for FC15 -->
<el-row class="tac">
    <el-col :span="6">
        <el-menu
            default-active="2"
            class="el-menu-vertical-demo"
            @open="handleOpen"
            @close="handleClose">
            <el-menu-item index="1">
                <a href="#GameIntro">
                    <i class="el-icon-info"></i>
                    <span slot="title">游戏简介</span>
                </a>
            </el-menu-item>
            <el-submenu index="2">
                <template slot="title">
                    <i class="el-icon-menu"></i>
                    <span>
                        <a href="#GameRule">规则简介</a>
                    </span>
                </template>
                <el-menu-item index="2-1">
                    <i class="el-icon-edit-outline"></i>
                    <a href="#GameRuleTower">塔</a>
                </el-menu-item>
                <el-menu-item index="2-2">
                    <i class="el-icon-edit-outline"></i>
                    <a href="#GameRuleLine">兵线</a>
                </el-menu-item>
                <el-menu-item index="2-3">
                    <i class="el-icon-edit-outline"></i>
                    <a href="#GameRuleConsume">消耗判定</a>
                </el-menu-item>
                <el-submenu index="2-4">
                    <template slot="title"><a href="#GameRuleTowerStrategy"><i class="el-icon-edit-outline"></i>塔策略</a></template>
                    <el-menu-item index="2-4-1">
                        <i class="el-icon-edit"></i>
                        <a href="#GameRuleTowerStrategyIntro">策略简介</a>
                    </el-menu-item>
                    <el-menu-item index="2-4-2">
                        <i class="el-icon-edit"></i>
                        <a href="#GameRuleTowerStrategySwitch">策略切换</a>
                    </el-menu-item>
                    <el-menu-item index="2-4-3">
                        <i class="el-icon-edit"></i>
                        <a href="#GameRuleTowerStrategyParameter">策略参数</a>
                    </el-menu-item>
                </el-submenu>
                <el-menu-item index="2-5">
                    <i class="el-icon-edit-outline"></i>
                    <a href="#GameRuleCutLine">切断兵线</a>
                </el-menu-item>
                <el-menu-item index="2-6">
                    <i class="el-icon-edit-outline"></i>
                    <a href="#GameRuleOccupy">占领判定</a>
                </el-menu-item>
                <el-menu-item index="2-7">
                    <i class="el-icon-edit-outline"></i>
                    <a href="#GameRuleMapElements">地图其他元素</a>
                </el-menu-item>
                <el-menu-item index="2-8">
                    <i class="el-icon-edit-outline"></i>
                    <a href="#GameRuleOtherRules">其他规则</a>
                </el-menu-item>
                <el-menu-item index="2-9">
                    <i class="el-icon-edit-outline"></i>
                    <a href="#GameRuleOtherElements">其他元素</a>
                </el-menu-item>
            </el-submenu>
        </el-menu>
    </el-col>

    <el-col :span="18"><div class="contents" style="width: 90%; margin-left: 3%;">
    <!-- Here should be the contents -->
        <br />
        <a id="GameIntro" style="font: bold 24px arial;">游戏简介</a>
        <h5>暂定主题：一个塔和兵的游戏</h5>
        <p style="text-indent: 2em;">
            各个势力（势力）通过各自原先拥有的塔们进行较量，广泛征兵、善用策略、强化科技，利用塔和兵线进行一系列的攻守较量，在一定回合率先占领所有塔则获得胜利。
        </p>
        <p style="text-indent: 2em;">
            本游戏改编自游戏《Tentacle Wars》（4399细菌大战，手机上有相应游戏）。
        </p>
        <br /><a href="#top"><el-button type="primary" plain>Back to top</el-button></a>
        <hr />

        <a id="GameRule" style="font: bold 24px arial;">规则简介</a>
        <br /><br />
        <a id="GameRuleTower" style="font: bold 18px arial;">塔</a>
        <br />
        <p style="text-indent: 2em;">
            每个势力都由一定的塔组成。
        </p>
        <p style="text-indent: 2em;">
            每个塔都有自己的兵力值，并随着回合数的推移进行回复，直至到达上限，给玩家的数值转化为整数（内部为浮点数）。该上限由每局游戏开始时给出，每个塔的上限值由开始时给出（最大为200）。
        </p>
        <p style="text-indent: 2em;">
            当塔的兵力值（不包括伸出去的兵线的兵力）增加或减少到一定程度时，塔的种类将发生变化。越高级的塔能够伸出的兵线数量越多。
        </p>
        <p>//名称还需要设定</p>

        <table class="table" border="0" style="width: 60%;">
            <tr>
                <th>种类</th>
                <th>兵力</th>
                <th>最大兵线</th>
                <th>基础回复速度</th>
            </tr>
            <tr>
                <td>Lv1</td>
                <td>N < 10</td>
                <td>1</td>
                <td>1/回合</td>
            </tr>
            <tr>
                <td>Lv2</td>
                <td>10 <= N < 40</td>
                <td>2</td>
                <td>1.5/回合</td>
            </tr>
            <tr>
                <td>Lv3</td>
                <td>40 <= N < 80</td>
                <td>2</td>
                <td>2/回合</td>
            </tr>
            <tr>
                <td>Lv4</td>
                <td>80 <= N < 150</td>
                <td>3</td>
                <td>2.5/回合</td>
            </tr>
            <tr>
                <td>Lv5</td>
                <td>150 <= N <= 200</td>
                <td>3</td>
                <td>3/回合</td>
            </tr>
        </table>
        <p style="text-indent: 2em;">
            塔不可移动，攻击方式为伸出“兵线”。
        </p>
        <p style="text-indent: 2em;">
            当塔的兵力值降至0时，该塔被其他势力所攻占。当一个势力的所有失去其所掌控的所有塔时，该势力即宣告灭亡。
        </p>
        <br /><a href="#top"><el-button type="primary" plain>Back to top</el-button></a>
        <hr />

        <br />
        <a id="GameRuleLine" style="font: bold 18px arial;">兵线</a>
        <br />
        <p style="text-indent: 2em;">
            兵线是塔的攻击和防御方式。
        </p>
        <p style="text-indent: 2em;">
            塔的种类决定了其能伸出的兵线数量（见上表）。如果某个塔的当前兵线数小于其最大值，则该塔可以选择某个其他塔（己势力、他势力或中立均可）为目标伸出兵线。伸出速率为（3个兵力 / 回合）根据兵线的长度，源塔需要在兵线上投入相应的兵力值，(消耗量 = 距离 / 10)。若在伸出兵线的途中源塔的兵力值降至0，无法为该兵线继续提供兵力，则该兵线强制返回（前提是此时源塔没有被其他势力攻下）。
        </p>
        <p style="text-indent: 2em;">
            在兵线伸出途中，其归属势力可以在任意回合中断并使其返回源塔（判定为一次“切断”）。而若目标势力为其他势力，并也向该源塔伸出兵线，则两根兵线将形成“对峙”局面。如果兵线其他兵线形成“对峙”，则两条兵线的交界点将移动到两个塔的中间点。
        </p>
        <br /><a href="#top"><el-button type="primary" plain>Back to top</el-button></a>
        <hr />

        <br />
        <a id="GameRuleConsume" style="font: bold 18px arial;">消耗判定</a>
        <br />
        <p style="text-indent: 2em;">
            当兵线的对面存在目标时，源塔将稳定地通过该兵线向目标传输兵力。
        </p>
        <p style="text-indent: 2em;">
            基础速率：当只有一条兵线时，基础速率为基础再生速率；2条每条为0.8*基础再生；3条每条为0.6*基础再生。
        </p>
        <p style="text-indent: 2em;">
            实际消耗速率分为下面三种情况：
        </p>
        <p>
            a) 支援：目标为己方塔，兵线消耗速率和目标资源增加速率均为基础速率。
            <br />
            b) 对抗：目标为对方兵线，两个兵线的消耗速率均为两者 (基础速率*对抗伤害倍率[见4.塔策略])中的较大值。
            <br />
            c) 压制：目标为对方塔。兵线消耗速率为基础速率，对方塔的减少速率为(基础速率*压制伤害倍率[见4.塔策略])
        </p>
        <br /><a href="#top"><el-button type="primary" plain>Back to top</el-button></a>
        <hr />

        <br />
        <a id="GameRuleTowerStrategy" style="font: bold 18px arial;">塔策略</a>
        <br />
        <br />
        <a id="GameRuleTowerStrategyIntro" style="font: bold 14px arial;">策略简介</a>
        <br />
        <p style="text-indent: 2em;">
            每个塔都有策略属性。初始所有塔的策略为Normal，进阶策略有Attack，Defense，Grow三种。
        </p>
        <p>
            - Normal：初始策略，各项属性均较差，应尽快升级成进阶状态。
            <br />
            - Attack：攻击策略，攻击相关属性较强，对N和G造成的伤害巨大，但是害怕D策略对手。
            <br />
            - Defence：防守策略，主要用于抵抗A策略的进攻，再生速率降低，不适合进行攻击。
            <br />
            - Grow：发展策略，再生速率增加，但是很害怕A的进攻。
        </p>
        <br />
        <a id="GameRuleTowerStrategySwitch" style="font: bold 14px arial;">策略切换</a>
        <br />
        <p style="text-indent: 2em;">
            势力可以切换自己塔的策略，占用1操作数并消耗一定的科技点数。消耗科技点数如下：
        </p>
        <table class="table" style="width: 50%;">
            <tr>
                <th>从↓到→</th>
                <th>N</th>
                <th>A</th>
                <th>D</th>
                <th>G</th>
            </tr>
            <tr>
                <td>N</td>
                <td>0</td>
                <td>3</td>
                <td>3</td>
                <td>3</td>
            </tr>
            <tr>
                <td>A</td>
                <td>2</td>
                <td>0</td>
                <td>5</td>
                <td>5</td>
            </tr>
            <tr>
                <td>D</td>
                <td>2</td>
                <td>5</td>
                <td>0</td>
                <td>5</td>
            </tr>
            <tr>
                <td>G</td>
                <td>2</td>
                <td>5</td>
                <td>5</td>
                <td>0</td>
            </tr>
        </table>

        <br />
        <a id="GameRuleTowerStrategyParameter" style="font: bold 14px arial;">策略参数</a>
        <br />
        <p>回复倍率（不影响兵线传输）</p>
        <table class="table">
            <tr>
                <th>N</th>
                <th>A</th>
                <th>D</th>
                <th>G</th>
            </tr>
            <tr>
                <td>1</td>
                <td>1</td>
                <td>0.5</td>
                <td>1.5</td>
            </tr>
        </table>
        <br />
        <p>对抗伤害倍率：</p>
        <table class="table">
            <tr>
                <th>从↓到→</th>
                <th>N</th>
                <th>A</th>
                <th>D</th>
                <th>G</th>
            </tr>
            <tr>
                <td>N</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
            </tr>
            <tr>
                <td>A</td>
                <td>2</td>
                <td>1</td>
                <td>1</td>
                <td>4</td>
            </tr>
            <tr>
                <td>D</td>
                <td>1</td>
                <td>3</td>
                <td>1</td>
                <td>1</td>
            </tr>
            <tr>
                <td>G</td>
                <td>2</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
            </tr>
        </table>
        <br />
        <p>压制伤害倍率：（除D进攻外均为上表的1.5倍）</p>
        <table class="table">
            <tr>
                <th>从↓到→</th>
                <th>N</th>
                <th>A</th>
                <th>D</th>
                <th>G</th>
            </tr>
            <tr>
                <td>N</td>
                <td>1.5</td>
                <td>1.5</td>
                <td>1.5</td>
                <td>1.5</td>
            </tr>
            <tr>
                <td>A</td>
                <td>3</td>
                <td>1.5</td>
                <td>1.5</td>
                <td>6</td>
            </tr>
            <tr>
                <td>D</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
            </tr>
            <tr>
                <td>G</td>
                <td>3</td>
                <td>1.5</td>
                <td>1.5</td>
                <td>1.5</td>
            </tr>
        </table>
        <br /><a href="#top"><el-button type="primary" plain>Back to top</el-button></a>
        <hr />

        <br />
        <a id="GameRuleCutLine" style="font: bold 18px arial;">切断兵线</a>
        <br />
        <p style="text-indent: 2em;">
            在每个回合，玩家可以切断其兵线。占用1操作数。
        </p>
        <p style="text-indent: 2em;">
            若兵线还未到达目标或者为对峙局面，则判定为该兵线的回收，源塔增加这条兵线的兵力。传输速度：12个/回合。对峙局面时对方的兵线将继续完成对源塔的伸出动作。
        </p>
        <p style="text-indent: 2em;">
            若兵线已经到达目标，进行切断时需要指定其切断位置。处于切断位置前方的兵力将迅速传输至目标塔，而处于切断位置后方的兵力退回至源塔。前方传输速度：20个/回合。后方传输速度：12个/回合。
        </p>
        <br /><a href="#top"><el-button type="primary" plain>Back to top</el-button></a>
        <hr />

        <br />
        <a id="GameRuleOccupy" style="font: bold 18px arial;">占领判定</a>
        <br />
        <p style="text-indent: 2em;">
            当一个塔的兵力归零时，若其正在遭受其他兵线的攻击（直接攻击或者对峙），则该塔归攻击方所有。被占领的塔初始兵力值为10 ，策略变为N，其所属的兵线也归攻击方所有，并全部判定为在最前方切断。
        </p>
        <p style="text-indent: 2em;">
            若一个塔被攻下时有多个势力正在对其进行攻击，具体规则如下
        </p>
        <p>i.  如果有且仅有一个势力是在压制而不是对抗局面，则该塔归该直接攻击势力所有。</p>
        <p>ii. 若不满足以上条件，则该塔判定为中立，兵力数为 (10 + 其被攻下之前的兵线总兵力数 )。</p>
        <p style="text-indent: 2em;">
            无论什么情况，攻击势力的兵线不进行自动切断。
        </p>
        <br /><a href="#top"><el-button type="primary" plain>Back to top</el-button></a>
        <hr />

        <br />
        <a id="GameRuleMapElements" style="font: bold 18px arial;">地图其他元素</a>
        <br />
        <p style="text-indent: 2em;">
            地图大小预计在X00 * Y00量级。
        </p>
        <p>a) 中立塔</p>
        <p style="text-indent: 2em;">
            中立塔可能出现在开局时的地图设定，或者多个势力攻下同一个塔是。中立塔也有其对应的兵力值，被其他势力占领后成为其初始兵力值。除此之外，中立塔存在“占有值”属性。若占有值不属于A势力，则A势力传输至其的兵力将首先减少其占有值，减为0之后再增加属于A的占有值。当占有值达到某个阈值（暂设为其兵力值的1/3），该中立塔则归属于占有值的所属势力。
        </p>
        <p>b) 野蛮势力</p>
        <p style="text-indent: 2em;">
            野蛮势力可能出现在开局时的地图设定，由官方代码进行控制，并在各项属性上进行削弱（增长速率为普通的 * 0.5），防止压着玩家打。
        </p>
        <p>c) 栅栏</p>
        <p style="text-indent: 2em;">
            栅栏可能出现在开局时的地图设定，兵线不能穿过栅栏。
        </p>
        <br /><a href="#top"><el-button type="primary" plain>Back to top</el-button></a>
        <hr />

        <br />
        <a id="GameRuleOtherRules" style="font: bold 18px arial;">其他规则（待补充）</a>
        <br />
        <p>a) 操作数限定</p>
        <p style="text-indent: 2em;">
            每次进行伸出兵线/切断兵线/切换策略/升级能力时，记为操作数+1。每个回合的操作数不能超过（1+所拥有的塔数/2，向下取整）。操作数之外的指令将被无视。
        </p>
        <br /><a href="#top"><el-button type="primary" plain>Back to top</el-button></a>
        <hr />

        <br />
        <a id="GameRuleOtherElements" style="font: bold 18px arial;">其他元素（暂定）</a>
        <br />
        <p>势力属性提升</p>
        <table class="table">
            <tr>
                <th>名字</th>
                <th>消耗点数</th>
                <th>描述</th>
            </tr>
            <tr>
                <td>征兵（参与兵线结算）</td>
                <td>2/4/6/8/10</td>
                <td>自动回复倍率变为1.05/1.1/1.15/1.2/1.25</td>
            </tr>
            <tr>
                <td>行军</td>
                <td>2/4/6/8/10</td>
                <td>兵线延伸速度倍率变为1.1/1.2/1.3/1.4/1.5</td>
            </tr>
            <tr>
                <td>灵巧</td>
                <td>3/5/7</td>
                <td>操作数上限+0.5/+1/+1.5</td>
            </tr>
            <tr>
                <td>城墙</td>
                <td>2/4/6</td>
                <td>己方被压制结算时压制伤害倍率降为对抗伤害倍率的1.4/1.3/1.2</td>
            </tr>
        </table>
        <br /><a href="#top"><el-button type="primary" plain>Back to top</el-button></a>
    </div></el-col>
</el-row>

{% endblock %}