<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>FC 15 Website</title>
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'app/assets/css/main.css' %}" />
        <!--link rel="stylesheet" type="text/css" href="forms.css" /-->
        <!-- Scripts -->
		<script src="{% static 'app/assets/js/skel.min.js' %}"></script>
		<script src="{% static 'app/assets/js/jquery.min.js' %}"></script>
		<script src="{% static 'app/assets/js/jquery.scrollex.min.js' %}"></script>
		<script src="{% static 'app/assets/js/util.js' %}"></script>
		<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
		<script src="{% static 'app/assets/js/main.js' %}"></script>
    </head>

	<body>

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<h1><a href="index.html">FC15 Website</a></h1>
						<nav>
							<li>
								<a href="/home/">Home</a>
								<a href="/index/">Index</a>
								<a href="/about/">About</a>
								<a href="/team/">Team</a>
								<a href="/upload/">Upload</a>
								<a href="/postblog/">Blog</a>
                                {% if username %}
                                    <a href="#menu">Hello {{ username }}!</a>  
                                {% else %}
                                    <a href="#menu">Please login</a>
                                {% endif %}
							</li>
						</nav>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<div class="inner">
							<h2>Login Menu</h2>
							<ul class="links">
                                {% if username %}
                                    <li><a href="/logout/">Log Out</a></li>
								    <li><a href="/change/">Change Account</a></li>
								    <li><a href="/resetrequest/">Reset Account</a></li>
                                {% else %}
                                    <li><a href="/login/">Log In</a></li>
								    <li><a href="/regist/">Register</a></li>
								    <li><a href="/resetrequest/">Reset Account</a></li>
                                {% endif %}
							</ul>
							<a href="" class="close">Close</a>
						</div>
					</nav>

				{% if messages %}
                    <script language="javascript">
                        {% for msg in messages %}
                            alert('{{ msg.message }}');
                        {% endfor %}
                    </script>
                {% endif %}

                {% block content %}{% endblock %}

				<!-- Footer -->
					<section id="footer">
						<div class="inner">
							<ul class="copyright">
								<li>&copy; FC15, DAASTA, 2017</li>
								<li>Template from <a href="http://www.cssmoban.com/">http://www.cssmoban.com/</a></li>
							</ul>
						</div>
					</section>

			</div>
	</body>
</html>
