<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>FC 15 Website</title>
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'app/content/bootstrap.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'app/content/site.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'app/content/forms.css' %}" />
        <!--link rel="stylesheet" type="text/css" href="forms.css" /-->
        <script src="{% static 'app/scripts/modernizr-2.6.2.js' %}"></script>
    </head>

    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="" class="navbar-brand">FC15 Website</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="/home/">Home</a></li>
                        <li><a href="/index/">Index</a></li>
                        <li><a href="">About</a></li>
                        <li><a href="/team/">Team</a></li>
                        <li><a href="/upload/">Upload</a></li>
                        <li><a href="/postblog/">Blog</a></li>
                    </ul>
                    <!-- ******************************** -->
                    <ul class="nav navbar-nav navbar-right">
                        <li><span class="navbar-brand">Hello {{ username }} !</span></li>
                        <li><a href="/login/">Login</a></li>
                        <li><a href="/logout/" onclick="return confirm('Are you sure to logout?')">Logout</a></li>
                        <li><a href="/regist/">Register</a></li>
                        <li><a href="/change/">Change</a></li>
                        <li><a href="/resetrequest/">Reset</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container body-content">

            {% if messages %}
                <script language="javascript">
                    {% for msg in messages %}
                        alert('{{ msg.message }}');
                    {% endfor %}
                </script>
            {% endif %}

            {% block content %}{% endblock %}

            <hr/>
            <footer>
                <p>&copy; 2017 - FC15 Website - THU DAASTA</p>
            </footer>
        </div>

    </body>
</html>
