{% extends "base.html" %}

{% block content %}

<!-- Banner -->
<section id="banner">
	<div class="inner">
	    <h2>Welcome {{ username }}!</h2>
	    <p>You can post your blog here</p>
	</div>
</section>

<!-- Wrapper -->        
<form method="post" enctype="multipart/form-data" style="left: 20px;">
    {% csrf_token %}

<section id="wrapper">
    <section id="one" class="wrapper spotlight style1">
		<div class="inner"><div class="content">
            <h4>You can edit and post your blog here</h4>
            <hr />
            <div class="field">
                <label for="id_title" class="col-md-2 control-label">Title</label>
                {{ form.title }}
            </div>
            <div class="field">
                <label for="id_content" class="col-md-2 control-label">Content</label>
                {{ form.content }}
            </div>
            <br />
            <div class="actions">
                <input type="submit" value="Submit" onclick="return confirm('Are you sure to post the blog?')" />
            </div>

        </div></div>
    </section>
</section>

</form>

{% endblock %}