{% extends "base.html" %}

{% block content %}

<!-- Banner -->
<section id="banner">
	<div class="inner">
		<h2>Welcome {{ username }}!</h2>
		<p>You can create your team here.</p>
	</div>
</section>

<!-- Wrapper -->
<section id="wrapper">
    <section id="one" class="wrapper spotlight style1">
		<div class="inner">
		    <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
                <h1>Please create your own team here.</h1>
                <div class="form-group">
                    <label for="id_title" class="col-md-2 control-label">Team name</label>
                    {{ form.teamname }}
                </div>
                <div class="form-group">
                    <label for="id_content" class="col-md-2 control-label">Introduction</label>
                    {{ form.introduction }}
                </div>
                <div class="form-group">
                        <input type="submit" value="submit" class="button" onclick="return confirm('Are you sure to create the team?')" />
                </div>
            </form>
        </div>
	</section>
</section>

{% endblock %}