{% extends "base.html" %}

{% block content %}

<div class="smart-green">
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <h1>Please create your own team here.</h1>
    <div class="form-group">
        <label for="id_title" class="col-md-2 control-label">Team name</label>
        {{ form.teamname }}
    </div>
    <br />
    <div class="form-group">
        <label for="id_content" class="col-md-2 control-label">Introduction</label>
        {{ form.introduction|linebreaks }}
    </div>
    <br />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="submit" class="btn btn-default" onclick="return confirm('Are you sure to create the team?')" />
        </div>
    </div>

    <hr />
</form>
</div>

{% endblock %}