{% extends "base.html" %}

{% block content %}

<div class="banner" style="text-align: center;">
    <h2>Welcome to FC15!</h2>
    <p>Presented by DAASTA, 2017-2018</p>
</div>

<template>
  	<el-carousel :interval="4000" type="card">
    	<el-carousel-item>
      		<img src="/static/images/pic01.jpg" style="width: 100%;"/>
    	</el-carousel-item>
        <el-carousel-item>
      		<img src="/static/images/pic01-hj.jpg" style="width: 100%;"/>
    	</el-carousel-item>
         <el-carousel-item>
      		<img src="/static/images/pic02.jpg" style="width: 100%;"/>
    	</el-carousel-item>
        <el-carousel-item>
      		<img src="/static/images/pic03.jpg" style="width: 100%;"/>
    	</el-carousel-item>
  	</el-carousel>
</template>

<el-container>
    <el-header>
        <h3>Game: DA GAN</h3>
    </el-header>
    <el-container>
        <el-aside width="250px" style="background-color: aqua;">
            <img src="static/images/pic01.jpg" style="width: 100%;"/>
        </el-aside>
        <el-main>
            <p>Here should be the introduction for the game</p>
            <p>including background, rules, etc.</p>
            <el-button type="info" plain>Learn more</el-button>
        </el-main>
    </el-container>
</el-container>

<el-container>
    <el-header>
        <h3>Play game</h3>
    </el-header>
    <el-main>
        <el-collapse v-model="activeNames">
            <el-collapse-item title="Download SDK">
                <p>Here should be a brief introduction of the SDK</p>
                <el-button type="info" plain>Learn more</el-button>
                <el-button type="success" plain>Download now</el-button>
            </el-collapse-item>
            <el-collapse-item title="Current ranking">
                <p>The game has not been started yet.</p>
            </el-collapse-item>
            <el-collapse-item title="Teams">
                <p>Here should be a list of all teams.</p>
            </el-collapse-item>
            <el-collapse-item title="Blogs">
                <p>Here should be a list of all blogs.</p>
            </el-collapse-item>
        </el-collapse>
    </el-main>
</el-container>

<el-container>
    <el-aside width="25%">
        <img src="/static/images/pic01-hj.jpg" style="width: 100%;"/>
    </el-aside>
    <el-main>
        <h3>Something about FC and DAASTA</h3>
        <p>Here should be a brief introduction about DAASTA and FC</p>
        <el-button type="info" plain>Learn more</el-button>
        <el-button type="primary" plain>Link to more articles</el-button>
    </el-main>
</el-container>

<el-container>
    <el-aside width="75%">
        <h3>Something about the sponsor</h3>
        <p>Here shouold be a brief introduction about the sponsor</p>
        <el-button type="info" plain>Learn more</el-button>
    </el-aside>
    <el-main>
        <img src="/static/images/pic02.jpg" />
    </el-main>
</el-container>

<el-container>
    <el-aside width="25%">
        <img src="/static/images/pic01.jpg" />
    </el-aside>
    <el-main>
        <h3>Contact us</h3>
        <p>Email: ******</p>
        <el-button type="primary">Send Email</el-button>
    </el-main>
</el-container>

{% endblock %}