{% extends "base.html" %}

{% block content %}

<h1>welcome {{ username }} !</h1>
<hr />

<h2>My Blogs</h2>
{% for post in posts %}
    <p>
        <a href="{% url 'blogdetail' pk=post.pk %}">{{ post.title }}</a>
        <a href="{% url 'blogedit' pk=post.pk %}">Edit</a>
        <a href="{% url 'blogdelete' pk=post.pk %}" onclick="return confirm('Are you sure to delete the blog?')">Delete</a>
    </p>
    Posted at {{ post.timestamp }}</th>
    {{ post.content|linebreaks }}</th>
{% endfor %}
<hr />

<h2>My Code</h2>
{% for file in files %}
        <h3>{{ file.filename }}</h3>
        <p>{{ file.is_compiled }}     {{ file.is_compile_success }}</p>
        <p>
            <a href="{% url 'fileedit' pk=file.pk %}">Edit</a>
            <a href="{% url 'filedelete' pk=file.pk %}" onclick="return confirm('Are you sure to delete the file?')">Delete</a>
            <a href="{% url 'filedownload' pk=file.pk %}">Download</a>
        </p>
        <p>{{ file.description|linebreaks }}</p>
{% endfor %}
<hr />

<h2>Code of my teammates</h2>
<h3>{{ warning }}</h3>
{% for code in codes %}
    <h4>{{ code.filename }}</h4>
    <p>{{ code.username }}</p>
    <p><a href="{% url 'filedownload' pk=code.pk %}">Download</a></p>
    <p>{{ code.description|linebreaks }}</p>
    <br />
{% endfor %}

{% endblock %}