{% extends "base.html" %}

{% block content %}

<!-- Banner -->
<section id="banner">
	<div class="inner">
		<h2>Welcome to FC15!</h2>
		<p>Please login here.</p>
	</div>
</section>

<!-- Wrapper -->
<section id="wrapper">
    <section id="one" class="wrapper spotlight style1">
		<div class="inner">
		    <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <h1>Please log in with your own account.</h1>
                <br />
                <div class="field">
                    <label for="name" id="name">User name</label>
                    {{ form.username }}
                </div>
                <div class="field">
                    <label for="password" id="password">Password</label>
                    {{ form.password }}
                </div>
                <div class="actions">
                    <input type="submit" value="Log in" class="button" />
                </div>
                <br />
                <h3>Do not have an account? <a href="/regist/">Register here</a></h3>
            </form>
            
		</div>
	</section>
</section>

{% endblock %}