{% extends "base.html" %}

{% block content %}

<!-- Banner -->
<section id="banner">
	<div class="inner">
		<h2>Welcome to FC15!</h2>
		<p>Please login here.</p>
	</div>
</section>

<!-- Wrapper -->
<section id="wrapper">
    <section id="one" class="wrapper spotlight style1">
		<div class="inner">
		    <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <h1>Enter your information to create a new account.</h1>
                <br />
                <div class="field">
                    <label for="id_username" class="field">Username</label>
                    {{ form.username }}
                </div>
                <div class="field">
                    <label for="id_realname" class="field">Realname</label>
                    {{ form.realname }}
                </div>
                <div class="field">
                    <label for="id_email" class="field">Email</label>
                    {{ form.email }}
                </div>
                <div class="field">
                    <label for="id_email" class="field">Student ID</label>
                    {{ form.stu_number }}
                </div>
                <div class="field">
                    <label for="id_password" class="field">Password</label>
                    {{ form.password }}
                </div>
                <div class="field">
                    <label for="id_passwordconfirm">Confirm password</label>
                    {{ form.password_confirm }}
                </div>
                <div class="actions">
                    <input type="submit" value="Register" class="button" />
                </div>
                <br />
                <h3>Already have an account? <a href="/login/">Login here</a></h3>
            </form>
		</div>
	</section>
</section>

{% endblock %}