{% extends "base.html" %}

{% block heading %}

<script type="text/javascript" src="/static/app/ui/js/phaser.min.js"></script>
<script type="text/javascript" src="/static/app/ui/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/static/app/ui/js/cell.js"></script>
<script type="text/javascript" src="/static/app/ui/js/main.js"></script>
<script type="text/javascript" src="/static/app/ui/js/tentacles.js"></script>

{% endblock %}

{% block content %}

<!-- 
    If you want to keep the basic elements, such as the navbar and footing, just delete the <p> tag add you code here, between 'block' and 'endblock'.
    If not, just delete all the code and add yours :)
-->
<div id="game"></div>

{% endblock %}