{% extends "base.html" %}

{% block content %}

<el-container>
    <el-aside width="200px" style="background-color: blueviolet;">
        Aside
    </el-aside>
    <el-main>
        <h2>Welcome {{ username }}</h2>
        <p>This is the home page for all participants</p>
    </el-main>
</el-container>

<!-- Carousel for user index -->
<template>
  	<el-carousel :interval="4000" type="card" height="200px">
        <el-carousel-item v-for="item in 6" :key="item">
      		<h3>{{ item }} item</h3>
    	</el-carousel-item>
  	</el-carousel>
</template>

<!-- Blog posts of the user -->
<div class="blogposts">
    <el-container>
        <el-aside width="250px" style="background-color: aqua">
            Aside
        </el-aside>
        <el-main>
            <h3>My blogs</h3>
            {% if posts %}
                <p>The following are all the blogs you have ever posted.</p>
            {% else %}
                <p>You have not posted any blogs yet.</p>
            {% endif %}
        </el-main>
        {% if posts %}
            
        {% endif %}
    </el-container>
    {% if posts %}
        <el-collapse v-model="activeName" accordion>
            {% for post in posts %}
                <el-collapse-item title="{{ post.title }}">
                    <div><i class="el-icon-time"></i>Posted at {{ post.timestamp }}</div>
                    <div><i class="el-icon-edit-outline"></i> {{ post.description }}</div>
                    <div>
                        <a href="{% url 'blogdetail' pk=post.pk %}">
                            <el-button type="success"><i class="el-icon-view"></i> View</el-button>
                        </a>
                        <a href="{% url 'blogedit' pk=post.pk %}">
                            <el-button type="info"><i class="el-icon-edit"></i> Edit</el-button>
                        </a>
                        <a href="{% url 'blogdelete' pk=post.pk %}">
                            <el-button type="danger"><i class="el-icon-circle-close"></i> Delete</el-button>
                        </a>
                    </div>
                </el-collapse-item>
            {% endfor %}
        </el-collapse>
    {% endif %}
    <hr />
</div>

<!-- Code of the user -->
<div class="mycode">
    <el-container>
        <el-aside width="70%">
            <h3>My code</h3>
            {% if files %}
                <p>The following are all the code you have uploaded.</p>
            {% else %}
                <p>You have not uploaded any code yet.</p>
            {% endif %}
        </el-aside>
        <el-main style="background-color: aquamarine;">
            main
        </el-main>
    </el-container>
    {% if files %}
        <el-collapse v_model="activeName" accordion>
            {% for file in files %}
                <el-collapse-item title="{{ file.filename }}">
                    <div><i class="el-icon-edit-outline"></i> {{ file.description }}</div>
                    <div>
                        <template>
                            {% if file.is_compiled %}
                                <el-tag type="info">已编译</el-tag>
                                {% if file.is_compile_success %}
                                    <el-tag type="success">编译成功</el-tag>
                                {% else %}
                                    <el-tag type="danger">编译失败</el-tag>
                                {% endif %}
                            {% else %}
                                <el-tag type="warning">未编译</el-tag>
                            {% endif %}
                        </template>
                        <div style="margin-top: 5px;">
                            <a href="{% url 'fileedit' pk=file.pk %}">
                                <el-button type="info"><i class="el-icon-edit"></i> Edit</el-button>
                            </a>
                            <a href="{% url 'filedelete' pk=file.pk %}">
                                <el-button type="danger"><i class="el-icon-circle-close"></i> Delete</el-button>
                            </a>
                            <a href="{% url 'filedownload' pk=file.pk %}">
                                <el-button type="success"><i class="el-icon-document"></i> Download</el-button>
                            </a>
                        </div>
                    </div>
                </el-collapse-item>
            {% endfor %}
        </el-collapse>
    {% endif %}
    <hr />
</div>

<!-- Code of teammates of the user -->
<div class="teamcode">
    <el-container>
        <el-aside width="20%" style="background-color: beige">
            aside
        </el-aside>
        <el-main>
            <h3>Code of my teammates</h3>
            {% if warning %}
                <p>{{ warning }}</p>
            {% else %}
                <p>The following are the code of your teammates.</p>
            {% endif %}
        </el-main>
    </el-container>
    {% if warning %}
    {% else %}
        {% if codes %}
            <el-collapse v-model="activeName" accordion>
                {% for code in codes %}
                    <el-collapse-item title="{{ code.filename }}">
                        <div><i class="el-icon-upload2"></i> Author: {{ code.username }}</div>
                        <div><i class="el-icon-edit-outline"></i> {{ code.description }}</div>
                        <div>
                            <template>
                                {% if code.is_compiled %}
                                    <el-tag type="info">已编译</el-tag>
                                    {% if file.is_compile_success %}
                                        <el-tag type="success">编译成功</el-tag>
                                    {% else %}
                                        <el-tag type="danger">编译失败</el-tag>
                                    {% endif %}
                                {% else %}
                                    <el-tag type="warning">未编译</el-tag>
                                {% endif %}
                            </template>
                            <div style="margin-top: 5px;">
                                <a href="{% url 'filedownload' pk=code.pk %}">
                                    <el-button type="success"><i class="el-icon-document"></i> Download</el-button>
                                </a>
                            </div>
                        </div>
                    </el-collapse-item>
                {% endfor %}
            </el-collapse> 
        {% else %}
            <p>Your teammates have not uploaded any code yet.</p>
        {% endif %}
    {% endif %}
    <hr />
</div>

<!-- Ranking -->
<div class="ranking">
    <el-container>
        <el-aside width="70%">
            <h3>Game ranking</h3>
        </el-aside>
        <el-main style="background-color: burlywood">
            main
        </el-main>
    </el-container>
    <hr />
    <p>waiting to be done.</p>
    <hr />
</div>

{% endblock %}